body {
    font-family: sans-serif;
    background-color: #f5f5f5;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#title {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #660f0f;
    font-weight: bold;
    text-align: center;
}

#wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (min-width: 768px) {
    #wrapper {
        width: 70%;
    }
}

#inputContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

#input {
    width: 80%;

}

#inp {
    box-sizing: border-box;
    width: 100%;
    font-size: 24px;
    padding: 14px 30px;
    border-radius: 20px 0 0 20px;
    border: none;
    border: 1px solid #A9A9A9;
    outline: none;
    box-shadow: 1px 1px 12px 4px grey;
}

#btn {
    width: 20%;
}

#btnAdd {
    font-size: 18px;
    border: none;
    border-radius: 0 20px 20px 0;
    box-shadow: 9px 1px 12px 4px grey;
    outline: none;
    background-color: #a36f6f;
    color: white;
    cursor: pointer;
    font-weight: bold;
    height: 100%;
    width: 100%;
}

#btnAdd:hover {
    background-color: #5b0d0d;
}

#content {
    display: flex;
    justify-content: center;
}

#list {
    width: 100%;
    display: none;
    border: 1px solid #c19f9f;
    border-top: none;
    background-color: white;
    padding: 10px 0;
    margin-top: 5px;
    box-sizing: border-box;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

.li {
    font-size: 24px;
}

.liDiv {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #A9A9A9;
    padding: 5px 10px;
    position: relative;
    word-break: break-all;
}

.liDiv:hover > .btnClose {
    display: block;
}

.checkBox {
    min-width: 30px;
    height: 30px;
    cursor: pointer;
}

.spanText {
    margin-left: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.btnClose {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    color: #b28787;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    outline: none;
}

.btnClose:hover {
    color: #e50000;
    font-size: 24px;
}

#footer {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    flex-direction: column;
}

/*#footer {*/
/*    box-sizing: border-box;*/
/*    width: 100%;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*    padding: 0 10px;*/
/*    align-items: center;*/
/*}*/

#itemLeft {
    display: flex;
    justify-content: center;
    width: 28%;
    color: gray;
    white-space: nowrap;
}

#footerButtons {
    display: flex;
    justify-content: space-around;
    width: 42%;
    margin: 10px 0;
}

.navButton {
    cursor: pointer;
    padding: 5px;
    border: 1px solid #a36f6f;
    border-radius: 5px;
    margin: 0 5px;
}

.navButton:hover {
    border: 1px solid #a36f6f !important;
    background-color: #a36f6f !important;
    color: white !important;
}

#clear {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    visibility: hidden;
    white-space: nowrap;
}

#clear:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (min-width: 550px) {
    #footer {
        flex-direction: row;
    }

    #clear {
        justify-content: flex-end;
    }

    #itemLeft {
        justify-content: flex-start;
    }

    #footerButtons {
        margin: 0;
    }
}

@media screen and (min-width: 768px) {
    #wrapper {
        width: 70%;
    }
}
